/* Banner styles */
.ajdg-notification.notice { padding: 0; margin: 5px 0 10px; border: 1px solid #E5E5E5; background: #FFF; overflow: hidden; -webkit-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05); box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05); position: relative; z-index: 1; min-height: 80px; display: table; }
.ajdg-notification > div { display: table-cell; vertical-align: middle; cursor: default; }
.ajdg-notification a { text-decoration: none; }
.ajdg-notification-logo { background-color: #1fa4d1; background-repeat: no-repeat; background-position: 50% 50%; }
.ajdg-notification-logo span { display: block; width: 80px; }
.ajdg-notification-message { width: 100%; padding: 10px 20px; color: #444; }
.ajdg-notification-message strong { color: #000; }
.ajdg-notification-cta { border-left: 1px solid #E5E5E5; background: #F8F8F8; padding: 0 30px; position: relative; white-space: nowrap; }
.wp-core-ui .ajdg-notification-cta a, .wp-core-ui .ajdg-notification-cta .button-primary:active { vertical-align: middle; }
.ajdg-notification-dismiss { background: transparent; margin-left: 20px; border: 0; cursor: pointer; color: #BBB; text-decoration: none; }

/* Dashboard grid */
.ajdg-box-wrap { display: grid; grid-template-columns: repeat(12, 1fr); gap: 1em; width: 100%; max-width: 100%; margin: 0 auto;	padding: 10px 0; }
.ajdg-box-wrap.narrow { width:70%; max-width:70%; }
@media (max-width: 782px) {
	.ajdg-box-wrap { grid-template-columns: 1fr; gap: 0.5em; padding: 0; }
}
/* -- Columns */
.ajdg-box-one { grid-column: span 3; }
.ajdg-box-two { grid-column: span 6; }
.ajdg-box-three { grid-column: span 9; }
.ajdg-box-four { grid-column: span 12; }
.ajdg-box-onethird { grid-column: span 4; }
.ajdg-box-twothird { grid-column: span 8; }
@media (max-width: 960px) {
  .ajdg-box-one, .ajdg-box-two, .ajdg-box-three, .ajdg-box-onethird, .ajdg-box-twothird { grid-column: span 6; }
  .ajdg-box-four { grid-column: span 12; }
  .ajdg-box-wrap.narrow { width: 100%; max-width: 100%; }
}
@media (max-width: 782px) {
  .ajdg-box-one, .ajdg-box-two, .ajdg-box-three, .ajdg-box-four, .ajdg-box-onethird, .ajdg-box-twothird { grid-column: span 12; }
}
/* -- Box and contents */
.ajdg-box { margin: 0; min-height: 100px; box-sizing: border-box; }
.ajdg-box-title { padding-left: 4px; }
.ajdg-box-content { margin-bottom: 20px; padding: 10px 20px 20px 20px; border-radius: 6px; border:#dfdfdf 1px solid; background-color:#fff; clear: both; position: relative; }
.pro-image { padding:0px 10px 0px 0px; }
.ajdg-photo { border-radius: 5px; }
.ajdg-fullwidth { width: 100%; }
.ajdg-inputfield { height: 28px; margin: 0 4px 0 0; }
/* -- Sales box */
.ajdg-box-sale { padding: 0; }
.ajdg-box-sale a { cursor: pointer; text-decoration: none; }
.ajdg-box-sale a:hover { text-decoration: underline; }
.ajdg-box-sale hr { margin: 0; background: #dadde1; border-width: 0; color: #dadde1; height: 1px; }
.ajdg-box-sale img{ position: relative; height: auto; min-height: initial; width: 100%; }
.ajdg-box-sale .title { margin: 8px 12px 2px 12px; text-align: center; font-size: 14px; line-height: 18px; font-weight: 600; }
.ajdg-box-sale .sub_title{ margin: 5px 12px 10px 12px; text-align: center; font-size: 14px; font-weight: normal; }
.ajdg-box-sale .description { font-size: 12px; text-align: left; margin: 12px; }
.ajdg-box-sale .cta { margin: 8px 12px 12px 12px; text-align: center; }
.ajdg-box-sale .cta_button { padding: 0; border: 1px solid #ccd0d5; border-radius: 4px; box-sizing: content-box; width: 100%; display: inline-block; background-color: #f5f6f7; position: relative; text-align: center; text-decoration: none; color: #4b4f56; font-size: 16px; font-weight:bold; line-height: 32px; vertical-align: middle; cursor: pointer; white-space: nowrap; }
.ajdg-box-sale .cta_button:before { content:''; display: inline-block; height: 20px; vertical-align: middle; }
.ajdg-box-sale .cta_button:hover { text-decoration: none; background-color: #ebedf0; }
/* -- Icons */
.icn-rss { position: relative; top: 2px; display: inline-block; width: 14px; height: 14px; background: transparent 0 0 no-repeat; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNC4zMzIgMjQuMzMyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNC4zMzIgMjQuMzMyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxnPgoJPGcgaWQ9ImM0MF9yc3MiPgoJCTxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik0zLjYwNywxNy4xMUMxLjYxOCwxNy4xMSwwLDE4LjcyNiwwLDIwLjcxN2MwLDEuOTg0LDEuNjE4LDMuNjA0LDMuNjA3LDMuNjA0czMuNjA3LTEuNjE5LDMuNjA3LTMuNjA0QzcuMjE0LDE4LjcyNiw1LjU5NiwxNy4xMSwzLjYwNywxNy4xMXoiLz4KCQk8cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMC4zNzUsNy45NTFDMC4xNjksNy45NTEsMCw4LjEyLDAsOC4zMjh2NC41NzhjMCwwLjIwNiwwLjE2OSwwLjM3NCwwLjM3NSwwLjM3NGM1Ljg3OSwwLDEwLjY2NSw0Ljc4NCwxMC42NjUsMTAuNjY1YzAsMC4yMDUsMC4xNjYsMC4zNzUsMC4zNzUsMC4zNzVoNC41ODFoMC4wMTZjMC4yMDksMCwwLjM3Ny0wLjE3LDAuMzc3LTAuMzc1bC0wLjAxOC0wLjExN0MxNi4zMDUsMTUuMDY0LDkuMTUyLDcuOTUxLDAuMzc1LDcuOTUxeiIvPgoJCTxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik0yNC4zMTEsMjMuODI4QzI0LjI0NiwxMC42ODEsMTMuNTMxLDAuMDEsMC4zNzUsMC4wMUMwLjE2OSwwLjAxLDAsMC4xNzksMCwwLjM4N3Y0LjcxMWMwLDAuMjA3LDAuMTY5LDAuMzc1LDAuMzc1LDAuMzc1YzEwLjE4NiwwLDE4LjQ3Miw4LjI4NywxOC40NzIsMTguNDczYzAsMC4yMDUsMC4xNjgsMC4zNzUsMC4zNzMsMC4zNzVoNC43MTNoMC4wMmMwLjIwNSwwLDAuMzc5LTAuMTcsMC4zNzktMC4zNzVMMjQuMzExLDIzLjgyOHoiLz4KCTwvZz4KPC9nPgo8L3N2Zz4='); }

/* Old dashboard styles (Kept for caching) */
.ajdg-postbox-container { width: 49.5%; float: left; }
.ajdg-postbox { margin: 0 8px; min-height: 100px; box-sizing: border-box; }
.ajdg-postbox-content { margin-bottom: 20px; padding: 10px 20px 20px 20px; min-height: 40px; min-width:255px; border:#dfdfdf 1px solid; background-color:#fff; clear: both; position: relative; }

/* Sales Widget styles */
.ajdg-sales-widget { margin: 0; padding: 0; background: #fff; width: 95%; box-sizing: border-box; border: 1px solid #dadde1; border-radius: 6px; font-family: Helvetica, Arial, sans-serif; font-size: 11px; color: #1c1e21; unicode-bidi: embed; overflow: hidden; -webkit-text-size-adjust: none; line-height: 1.34; }

.ajdg-sales-widget a { cursor: pointer; text-decoration: none; color: #385898; }
.ajdg-sales-widget a:hover { text-decoration: underline; }
.ajdg-sales-widget img { border: 0;	}
.ajdg-sales-widget hr { margin: 0; background: #dadde1; border-width: 0; color: #dadde1; height: 1px; }

.ajdg-sales-widget .header { position: relative; overflow: hidden; width: 100%; }
.ajdg-sales-widget .header img{ position: relative; height: auto; min-height: initial; width: 100%; }

.ajdg-sales-widget .title { color: #000; margin: 8px 12px 2px 12px; text-align: center; font-size: 14px; line-height: 18px; font-weight: 600; }
.ajdg-sales-widget .sub_title{ margin: 2px 12px 0 12px; text-align: center; font-size: 12px; font-weight: normal; color: #90949c; }
.ajdg-sales-widget .description { font-size: 12px; text-align: left; margin: 12px; }

.ajdg-sales-widget .cta { margin: 8px 12px 12px 12px; text-align: center; }
.ajdg-sales-widget .cta_button { padding: 0; border: 1px solid #ccd0d5; border-radius: 2px; box-sizing: content-box; width: 100%; display: inline-block; background-color: #f5f6f7; position: relative; text-align: center; text-decoration: none; color: #4b4f56; font-size: 12px; font-weight:bold; line-height: 26px; vertical-align: middle; cursor: pointer; white-space: nowrap; }
.ajdg-sales-widget .cta_button:before { content:''; display: inline-block; height: 20px; vertical-align: middle; }
.ajdg-sales-widget .cta_button:focus { box-shadow: 0 0 1px 2px rgba(88, 144, 255, .75), 0 1px 1px rgba(0, 0, 0, .15); outline: none; }
.ajdg-sales-widget .cta_button:active { transition: none; background-color: #dddfe2; border-color: #bec3c9; }
.ajdg-sales-widget .cta_button:hover { text-decoration: none; background-color: #ebedf0; }
.ajdg-sales-widget .cta_button+.cta_button { margin-left:4px; }